## Exercise 01

Write code to read data from: https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt . 

Keep all monthly temperatures (from Jan to Dec) between 1980 and 2015 ONLY (ignore any other data), then:

- Find minimum temperature in Jan between 1980 - 2015
- Find average temperature in each year between 1980 - 2015
- Find temperature in Jan 2000
- Find temperature in Jun 2009

In [2]:
# Find minimum temperature in Jan between 1980 - 2015
# Your code here
import requests
import re
url="https://data.giss.nasa.gov/gistemp/tabledata_v3/GLB.Ts+dSST.txt"
content=requests.get(url).text
lines=content.split("\n")
years=[str(i) for i in range(1980,2016,1)]
jan_temp=[]
for l in lines[7:-6]:
    l_temp=re.findall("\S+",l)
    if l_temp!=[]:
        if l_temp[0] in years:
            jan_temp.append(int(l_temp[1]))
print("The lowest temperature is: "+str(min(jan_temp))+"F")

The lowest temperature is: 10F

In [3]:
# Find average temperature in each year between 1980 - 2015
# Your code here
avg_temp=[]
for l in lines[7:-6]:
    l_temp=re.findall("\S+",l)
    if l_temp!=[] and l_temp[0]!='Year':
        if l_temp[0] in years:
            avg_temp.append(l_temp[13])
#print(avg_temp)
for i in range(len(years)):
    print("In year "+years[i]+" the average temperature is: "+avg_temp[i]+"F")

In year 1980 the average temperature is: 27F
In year 1981 the average temperature is: 33F
In year 1982 the average temperature is: 13F
In year 1983 the average temperature is: 32F
In year 1984 the average temperature is: 16F
In year 1985 the average temperature is: 12F
In year 1986 the average temperature is: 18F
In year 1987 the average temperature is: 33F
In year 1988 the average temperature is: 41F
In year 1989 the average temperature is: 29F
In year 1990 the average temperature is: 44F
In year 1991 the average temperature is: 41F
In year 1992 the average temperature is: 22F
In year 1993 the average temperature is: 24F
In year 1994 the average temperature is: 31F
In year 1995 the average temperature is: 45F
In year 1996 the average temperature is: 34F
In year 1997 the average temperature is: 47F
In year 1998 the average temperature is: 62F
In year 1999 the average temperature is: 40F
In year 2000 the average temperature is: 40F
In year 2001 the average temperature is: 53F
In year 2002 the average temperature is: 62F
In year 2003 the average temperature is: 60F
In year 2004 the average temperature is: 53F
In year 2005 the average temperature is: 67F
In year 2006 the average temperature is: 62F
In year 2007 the average temperature is: 64F
In year 2008 the average temperature is: 51F
In year 2009 the average temperature is: 63F
In year 2010 the average temperature is: 70F
In year 2011 the average temperature is: 58F
In year 2012 the average temperature is: 62F
In year 2013 the average temperature is: 65F
In year 2014 the average temperature is: 73F
In year 2015 the average temperature is: 87F

In [4]:
# Find temperature in Jan 2000
# Your code here
for l in lines[7:-6]:
    l_temp=re.findall("\S+",l)
    if l_temp!=[] and l_temp[0]=='2000':
        print("The temperature in 2000 is: "+l_temp[1]+"F")
        break

The temperature in 2000 is: 23F

In [5]:
# Find temperature in Jun 2009
# Your code here
for l in lines[7:-6]:
    l_temp=re.findall("\S+",l)
    if l_temp!=[] and l_temp[0]=='2009':
        print("The temperature in 2009 is: "+l_temp[6]+"F")
        break

The temperature in 2009 is: 65F

## Extra Credit  (Optional)

`answers.txt` contains students answers of exam questions (each line contains student_id, then answers made by that student)

- The first number is the studentâ€™s ID number. The following 25 letters are the student responses to the exam. If there is no letter following a comma, this means the student skipped answering the question.

- Write code to read the data from the file, compare students answers to answers key (1 point for each correct answer), then find: 

    - The grade for each student.
    - Id of student of the highest score.
    - Id of student of the lowest score.

`answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"`

In [6]:
answerkey = "B,A,D,D,C,B,D,A,C,C,D,B,A,B,A,C,B,D,A,C,A,A,B,D,D"

In [7]:
# The grade for each student
# Your code here
file=open("answers.txt","r")
answerkey_list=answerkey.split(",")
student_grade=[]
for l in file.read().split("\n"):
    l_ans=l.split(',')[1:]
    student_score=0
    for i in range(len(answerkey_list)):
        if answerkey_list[i]==l_ans[i]:
            student_score+=1
    student_grade.append(student_score)
file.close()
print(student_grade)

[16, 18, 21, 19, 21, 18, 22, 18, 22, 19, 22, 19, 19, 20, 19, 23, 18, 20, 20, 18]

In [8]:
# Id of student of the highest score
# Your code here
import numpy as np
file=open("answers.txt","r")
grades=np.array(student_grade)
num=np.argmax(grades)
x=file.readlines()
print(x[num].split(",")[0])
file.close()

N00000016

In [9]:
# Id of student of the lowest score
# Your code here
import numpy as np
file=open("answers.txt","r")
grades=np.array(student_grade)
num=np.argmin(grades)
x=file.readlines()
print(x[num].split(",")[0])
file.close()

N00000001