In [8]:
class Shape:
    object_count = 0
    def __init__(self, length):
        self.length = length
        Shape.object_count += 1
        
    def area(self):
        return 0

class Square(Shape):
    def __init__(self, length):
        super().__init__(length)

    def area(self):
        return self.length**2

class Rectangle(Shape):
    def __init__(self, length, width):
        super().__init__(length)
        self.width = width

    def area(self):
        return self.length * self.width

rect = Rectangle(5, 10)
sq = Square(4)
print(rect.area())
print(sq.area())

50
16

In [6]:
Shape.object_count

2

In [202]:
class Shape:       
    def about(self):
        return "I am just a shape"

class Square(Shape):
    def about(self):
        return "I am a Square"
        
    def area(self):
        return "Square of Side"

class Rectangle(Shape):
    def about(self):
        return "I am a Rectangle"
        
    def area(self):
        return "Length * Width"

rect = Rectangle()
square = Square()
#rect = Shape()
print(rect.area())

Length * Width

In [37]:
num_1 = [1,2,3]
num_2 = [4,5,6]
file = open('ptfds.txt', 'w')
file.write(str(num_1))
file.close()

file = open('ptfds.txt', 'a')
file.write(str(num_2))
file.close()

result = num_1 + num_2
file = open('ptfds.txt', 'a')
file.write(str(result))
file.close()

file = open('ptfds.txt')
file.readlines()

['[1, 2, 3][4, 5, 6][1, 2, 3, 4, 5, 6]']

In [33]:
numbers = [1,2,3,4,5,6,7,8,9,10]
str(numbers[1::3])

'[2, 5, 8]'

In [40]:
phone_cost = {
    "IPhone" : 1200,
    "Samsung" : 1000,
    "Google Pixel" : 800
}

new_phone_cost = ____________________

Desired Output:
[('IPhone', 800), ('Samsung', 1000), ('Google Pixel', 1200)]

list(zip(phone_cost.keys(), sorted(phone_cost.values())))

[('IPhone', 800), ('Samsung', 1000), ('Google Pixel', 1200)]

In [43]:
list(zip(phone_cost.keys(), sorted(phone_cost.values())))

[('IPhone', 800), ('Samsung', 1000), ('Google Pixel', 1200)]

In [44]:
lol = [[21, 89, 54], [92, 34, 56], [81, 45, 34]]

lol[-1][1]

45

In [61]:
books = set({'Harry Potter', 'Insidious'})
movies = set({'Harry Potter', 'Forrest Gump'})



books-movies

{'Insidious'}

In [67]:
student_marks = ['Haris 88', 'Jacob 92', 'Noah 83']

def print_result():
    result = [s.split()[1] for s in student_marks]
    print(result)

print_result()

['88', '92', '83']

In [64]:
student_marks = ['Haris 88', 'Jacob 92', 'Noah 83']

[s.split()[1] for s in student_marks]

['88', '92', '83']

In [71]:
[a*2 for a in range(1,11)]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [75]:
table_generator = lambda t: [t*n for n in range(1, 11)]

table_generator(2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [76]:
import re

In [82]:
print(re.search('xx','aaa'))

None

In [168]:
members = """John Doe,25,Male
Jane Smith,30,Female
Bob Johnson,22,Male
Alice Brown,35,Female
Charlie Davis,2,Male"""

In [169]:
re.findall('\d{1,2}', members)
re.findall('\d+', members)
re.findall('\d\d?', members)

['25', '30', '22', '35', '2']

In [170]:
re.findall(r'([a-zA-Z]+)', data)

['John',
 'Doe',
 'Male',
 'Jane',
 'Smith',
 'Female',
 'Bob',
 'Johnson',
 'Male',
 'Alice',
 'Brown',
 'Female',
 'Charlie',
 'Davis',
 'Male']

In [171]:
len([x for x in re.findall(r'([a-zA-Z]+)', data) if x=='Male'])

3

In [172]:
pattern = re.compile(r'(\b[A-Z][a-z]+)\s([A-Z][a-z]+)\b')
matches = pattern.findall(data)
matches

[('John', 'Doe'),
 ('Male', 'Jane'),
 ('Female', 'Bob'),
 ('Male', 'Alice'),
 ('Female', 'Charlie')]

In [173]:
[line.split(',')[1] for line in members.split('\n')]

['25', '30', '22', '35', '2']

In [181]:
members.split('\n')[1]

'Jane Smith,30,Female'

In [11]:
members = """John Doe,25,Male
Jane Smith,30,Female
Bob Johnson,22,Male
Alice Brown,35,Female
Charlie Davis,2,Male"""

#filter_condition = lambda line: int(line.split(',')[1]) <= 25 and line.split(',')[2] == 'Male'

filtered_lines = filter(lambda line: int(line.split(',')[1]) <= 25 and line.split(',')[2] == 'Male', members.split('\n'))

print(list(filtered_lines))
# Extract names from the filtered lines
filtered_members = [line.split(',')[0] for line in filtered_lines]

# Print the names of members with age <= 25 and male
print("Members with age <= 25 and Male:")
print(filtered_members)

['John Doe,25,Male', 'Bob Johnson,22,Male', 'Charlie Davis,2,Male']
Members with age <= 25 and Male:
[]

In [12]:
# Double all numbers using map and lambda
numbers = (1, 2, 3, 4)
result = map(lambda x: x + x, numbers)

print(list(result))

[2, 4, 6, 8]

In [15]:
list(filter(lambda line: int(line.split(',')[1]) <= 25 and line.split(',')[2] == 'Male', members.split('\n')))

['John Doe,25,Male', 'Bob Johnson,22,Male', 'Charlie Davis,2,Male']

In [18]:
list(map(lambda line: int(line.split(',')[1]) <= 25 and line.split(',')[2] == 'Male', members.split('\n')))

[True, False, True, False, True]